<!-- <ion-header>

  <ion-navbar>
    <ion-title>verifyMe</ion-title>
  </ion-navbar> 

 </ion-header> -->


<ion-content padding>
  <div class="center_logo">
    <img src="assets/imgs/verify_me.PNG" style="width:100%">
  </div>
  <ion-row class="_color" justify-content-center>
    <h2>Verify Your Mobile Number</h2>
  </ion-row>
  <ion-row style="color:grey;text-align:center" justify-content-center>
    <p>Enter OTP(One Time Password) sent on your Register mobile below.
  </ion-row>
  <form #VerifyMeForm="ngForm" novalidate>
    <ion-row style="width: 164px; margin: 0 auto;">

      <ion-input type="number" [(ngModel)]="verify.first" #opt1  class="ip_box"(keyup)="next(opt2)" name="first" required></ion-input>
      <ion-input type="number" [(ngModel)]="verify.second" #opt2 class="ip_box" (keyup)="next(opt3)" name="second"></ion-input>
      <ion-input type="number" [(ngModel)]="verify.third" #opt3 class="ip_box" (keyup)="next(opt4)" name="third"></ion-input>
      <ion-input type="number" [(ngModel)]="verify.four" #opt4 class="ip_box"  name="four"></ion-input>
    </ion-row>
    <ion-row justify-content-center>
      <a href="# " style="color:gray; margin-top:26px; ">RESEND</a>
    </ion-row>
    <ion-row justify-content-center>
      <div class="btns ">
        <button ion-button class="login-button " type="submit " (click)="verifyMe(VerifyMeForm)" round>VERIFY MY NUMBER</button>
      </div>
    </ion-row>
  </form>
  <ion-row justify-content-center>
    <h4>
      <p class="_color font-size:2.0rem ">CHANGE MY NUMBER</p>
    </h4>
  </ion-row>
</ion-content>