page-verify-me {
   .ion-item {
        border-radius: 30px !important;
        border: 5px solid red;
/*other attributes*/
}
.ip_box{
    border: 1px solid;
    border-color: rgb(226, 152, 165);
    background-color: rgb(255, 228, 233);
    height: 57px;
    margin-right: 4px;
    border-radius: 2px solid pink;
    border-radius: 4px;
}
}

