<!-- <ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>
  <div class="center_logo">
    <img src="assets/imgs/logo.png">
  </div>
  <ion-item class="item_border">
    <ion-input type="text" placeholder="Enter Your Number"></ion-input>
  </ion-item>
  <div class="btns">
    <button ion-button class="login-button" (click)="Login()" round>LOGIN</button>
  </div>
  <ion-row justify-content-center>
    <img src="assets/imgs/or.PNG">
  </ion-row>

  <ion-row justify-content-center>
    <ion-col col-4>
      <img src="assets/imgs/btn_google+.png" (click)="google()">
    </ion-col>
    <ion-col col-4>
      <img src="assets/imgs/btn_facebook.png" (click)="fb()">
    </ion-col>
  </ion-row>
</ion-content>