<!--
  Generated template for the MainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>main</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-list>
      <ion-row>
        <ion-col>
          <img src="assets/imgs/almond.jpg">
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-item>

</ion-content>