<!-- <ion-header>

  <ion-navbar>
    <ion-title>dashbord</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content no-padding>
  <h4 class="center_logo _color">Welcome to Glorcery store</h4>
  <div style="text-align:center;">
    <img src="assets/imgs/select_country.PNG" style="width:100%">
  </div>
  <ion-row justify-content-center>
    <h5 style="color:grey">Choose Your current Location</h5>
  </ion-row>
  <ion-row style="margin: 54px;" justify-content-center>
      <div class="btns">
    <button ion-button round class="login-button" (click)="cityList()">SELECT YOUR CITY</button>
    </div>
  </ion-row>
</ion-content>