<!--
  Generated template for the CityListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title style="background-color:rgb(212, 30, 62);" class="toolbar_color">City</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="center_logo">
    <h4 class="_color">Select Your Current City</h4>
  </div>
  <ion-row *ngFor="let d of city_list;let i=index">
    <ion-row justify-content-center style="color:gray;font-size:16px;margin-bottom:4px">
      <ion-col (click)="active(i)" [ngClass]="{'selected_f':d.selected}">
        <ion-label> {{d.name}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-row>
  <ion-row justify-content-center>
    <button class="login-button" style="margin-top: 8px;" (click)="DoneClick()" ion-button round>DONE</button>
  </ion-row>
</ion-content>