<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding>
<div class="main-logo">
  <img src="assets/imgs/logo.png" >
</div>
</ion-content>
