<!--
  Generated template for the DashbordShoppingPage page.
class="button-icon button-clear ion-ios7-arrow-left"
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar style="background-color:rgb(212, 30, 62);color:white">
    <button ion-button menuToggle>
      <!-- <ion-icon name="menu" color="white"></ion-icon>
       -->
      <img src="assets/imgs/ic_side_menu.png" style="width:100%">
    </button>
    <ion-title>
      Grocery Store
    </ion-title>
    <div style="text-align:right">
      <img src="assets/imgs/ic_shopping-carrt.png" class="img_width">
      <img src="assets/imgs/ic_setting.png" class="img_width">
    </div>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <img src="assets/imgs/select_country.PNG" style="width:100%">
  </ion-row>
  <super-tabs [toolbarColor]="'Tabscolor'" toolbarBackground="transparent" indicatorColor="white" (tabSelect)="onTabSelect($event,p)"
    style="border:0;">
    <super-tab [root]="page1" title="Fruits"></super-tab>
    <super-tab [root]="page2" title="Vegitabls"></super-tab>
    <super-tab [root]="page3" title="Meat"></super-tab>
    <super-tab [root]="page4" title="Bakery"></super-tab>
    <super-tab [root]="page5" title="Dairy"></super-tab>
  </super-tabs>


  <!-- Add card content here! -->
  <!-- </ion-card-content> -->

  <ion-card>
    <ion-card-content>
      <ion-row>
        <p style="font-size:19x">Offers Only For You</p>
      </ion-row>
      <ion-row>
        <p>We Have some Products only for you</p>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <!-- <ion-row *ngFor="let i of images">
    <ion-card style="height: 152px;   width: 169px;">
      <ion-col col-3>
        <img src={{i.imgs}} style="height: 152px;   width: 169px;">
      </ion-col>
    </ion-card>
  </ion-row> -->
  <ion-grid>
    <ion-row *ngFor="let i of images">
      <ion-slides pager="true">

        <ion-slide>
          <img src={{i.imgs}}>
        </ion-slide>
        <ion-slide >
          <img src={{i.imgs}}>
        </ion-slide>

        <ion-slide>
          <img src={{i.imgs}}>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>
</ion-content>