// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
input::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 3;
    color: gray !important;
    text-align: center;
}
.custem_center{
    text-align: center;
}
.image_circle{
    width: 100px;
    border: 2px solid;
    border-radius: 65px;
    border-color: rgb(212, 30, 62);
}
._font{
    color: rgb(212, 30, 62);
    font-size: 20px;
    margin:26px auto;
}

.btns
{
    text-align: center;
    margin: 52px 0px 0px 0px;
}
.login-button{
    width: 260px; height: 50px;background-color: rgb(212, 30, 62);
}
.center_logo{
    text-align: center;
}
._color{
color: rgb(212, 30, 62);
}
.btns .button.activated{
    background-color: rgb(212, 30, 62) !important;
}

.section-active-child{
   color: rgb(212, 30, 62) !important;
}
.edit_imgs{
    width: 30px;
}
.toolbar-title,
.toolbar_color{
    color:white !important;
}