<ion-menu [content]="content" no-padding>
  <ion-content class="back" no-padding>

    <ion-list>
    </ion-list>
    <ion-row *ngFor="let f of profileData ">
      <ion-col>
        <img src="assets/imgs/logo.png" class="image_circle">
      </ion-col>
      <ion-col class="_font">
        {{f.name}}
        <ion-row style="font-size:14px;color:black">
          {{f.number}}
        </ion-row>
      </ion-col>
      <ion-col>
        <div style="text-align:right;margin:26px auto">
          <img src="assets/imgs/ic_edit.png" class="edit_imgs">
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <!-- <ion-row>
    <ion-tabs>
        <ion-tab tabIcon="heart" [root]="tab1"></ion-tab>
        <ion-tab tabIcon="star" [root]="tab2"></ion-tab>
      </ion-tabs>
  
</ion-row> -->
    </ion-row>
    <ion-list *ngFor="let item of info;let i=index" no-lines>
      <button ion-item detail-none full (click)="totglebtn(i)" class="back" [ngClass]="{'section-active': item.open, 'section': !item.open}">
        <ion-icon item-right name="add" *ngIf="!item.open" style="color:rgb(212, 30, 62)"></ion-icon>
        <ion-icon item-right name="remove" *ngIf="item.open" style="color:rgb(212, 30, 62)"></ion-icon>
        <ion-label class="_color">{{ item.name }}</ion-label>
      </button>
      <ion-list *ngIf="item.children && item.open" menuToggle>
        <ion-list-header *ngFor="let child of item.children; 
        let j = index;let p of appPages" no-padding class="child-center">
          <button ion-item detail-none (click)="toggleItem(i, j,child,p)" class="back" [ngClass]="{'section-active-child':child.open,'section':!child.open}"
            style="color:rgb(212, 30, 62)" class="back" full>
            {{child.name}}
            <!-- <ion-label class="_color">{{child.name}}</ion-label> -->
          </button>
        </ion-list-header>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>